<div class='container mt-5'>
    <h1>Uploads Hand History</h1>
    <%= simple_form_for @hand do |f| %>
        <%= f.submit 'Parse Hand History', class: 'rounded-pill btn btn-primary my-3' %>
    <% end %>
</div>