<div class='container'>
    <h1>Uploads</h1>
    <%= simple_form_for action='upload-summary' do |f| %>
        <%= f.submit 'Save Tournament Summary' %>
    <% end %>

    <%= simple_form_for action='upload-hand-history' do |f| %>
        <%= f.submit 'Save Hand History' %>
    <% end %>
</div>